.customers-love-us {
    
    .customers-details {
        margin: 20% 0%;
        h1{
            font-weight: 800;
        }
        text-align: center;

        h3 {
            color: #666d7d;
            font-size: 20px;
            font-weight: 400;
        }
    }

    .customers {
        display: flex;
        margin: 5%;

        .no-of-customers {
            display: flex;
            flex-wrap: wrap;

            h1 {
                font-size: clamp(50px, 7vw, 120px);
                line-height: 1.13;
                font-weight: 900;
                color: #1077da
            }

            .happy-customer {
                margin: 4.2rem 0rem 0rem 1rem;
                font-size: 1.4rem;
                font-weight: 500;
            }

            .details {
                font-family: "Nunito Sans", sans-serif;
                margin-right: 10rem;
                font-size: 20px;
                letter-spacing: 1.3px;
            }
        }
    }
}



@media screen and (max-width: 1024px) {
    .customers-love-us .customers .img img {
        height: 21rem;
        width: 14rem;
        
    }
}

@media screen and (max-width: 768px) {
 .customers-love-us{
    .customers{
        .img img{
            height: 21rem;
            width: 20rem;
        }
        .no-of-customers{
        .happy-customer{
            margin: 1.2rem 0rem 0rem 0rem;
        }
        .details{margin: 0rem;}
    }
    }
 }   
}
@media screen and (max-width: 425px) {
    .customers-love-us 
    .customers {
        display: block;

        .img img {
            height: 15rem;
            margin-top: 2rem;
            width: 17rem
        }

        .no-of-customers {
            .details {
                margin: 0rem;
                margin-left: 0.5rem;
                
            }
            h1{
                margin-left: 0.5rem;
            }
            .happy-customer{
                margin: 1.2rem 0rem 0rem 0rem;
                font-size: 17px;
            }
        }
    }
}