<div class="customers-love-us">
    <div class="customers-details">
        <h1>Customers love us</h1>
        <h3>90% of our customers prefer to retain us for their next engagement</h3>
    </div>
    <div class="customers">
        <div  class="no-of-customers">
            <h1>125</h1>
            <p class="happy-customer">Happy Customers</p>
            <p class="details">We work with any customer at any phase of business or software development — from startups at the ideation stage to mid-sized businesses and large enterprises with a focus on optimization and expansion no matter the industry they operate in.</p>
        </div>
        <div class="img">
            <img src="assets/images/home_customers.webp">
        </div>
       
    </div>
</div>