.digital-exp {
    .digital-experiences {
        text-align: center;
        font-size: 3rem;
        h1{
            font-weight: 700;
        }
       
    }
    p{
        text-align: center;
        color: #666d7d;
        margin-top: 0rem;
        font-size: 1.1rem;
        font-weight: 450;

    }
}