<p-panel>
    <div class="header"
        style="background-image: url('assets/images/home_banner.webp'); background-size: cover;min-height: 600px;">
        <div class="container-fluid">
            <app-header></app-header>
            <h1 class="centered">We create your digital future</h1>
        </div>
    </div>

    <div class="digital-experiences">
        <app-digital-experience></app-digital-experience>
    </div>
    <div class="what-we-do">
        <app-what-we-do></app-what-we-do>
    </div>
    <div class="customers-love-us">
        <app-customer-love-us></app-customer-love-us>
    </div>
    <div>
        <app-articles></app-articles>
    </div>
    <div class="footer">
        <app-footer></app-footer>
    </div>
</p-panel>