<div class="articles">
    <div class="row">
        <div class="col-md-3">
            <h6 style="color: #1077da; font-weight: 500;">ARTICLE</h6>
            <h2>Data integration approach to maximize your ROI</h2>
            <p>Read our tailored approach that enables you to derive the maximum ROI. Our engineers came up with a data integration approach that makes use of open-source tools over the premium to deliver better results</p>
        </div>
        <div class="col-md-3 case-study" style="background-image: url('assets/images/case-study.png');">
            <h6>Case Study</h6>
            <h2>End-to-end consulting portal development for nicheBees</h2>
            <p>Technovert helped nicheBees through the ideation & development of a cloud web application that enables SMEs to connect to the right expert on their digital transformation roadmap</p>
        </div>
        
        <div class="col-md-3">
            <h6 style="color: #1077da; font-weight: 500;">Case Study</h6>
            <h2>Enterprise Customer Service Solution using Dynamics 365</h2>
            <p>Check out the case study to understand Technovert helped our client from the Insurance industry to acquire a Customer Service Solution (CSS).</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 whitepaper" style="background-image: url('assets/images/MicrosoftTeams-image-89.webp');">
            <h6 style="font-weight: 500;">ARTICLE</h6>
            <h2>Data integration approach to maximize your ROI</h2>
            <p>Read our tailored approach that enables you to derive the maximum ROI. Our engineers came up with a data integration approach that makes use of open-source tools over the premium to deliver better results</p>
        </div>
        <div class="col-md-3 case-study" style="background-color:  #5bbad6;">
            <h6>Case Study</h6>
            <h2>End-to-end consulting portal development for nicheBees</h2>
            <p>Technovert helped nicheBees through the ideation & development of a cloud web application that enables SMEs to connect to the right expert on their digital transformation roadmap</p>
        </div>
        
        <div class="col-md-3 case-study" style="background-color: #3b4a64;">
            <h6 style="font-weight: 500;">Case Study</h6>
            <h2>Enterprise Customer Service Solution using Dynamics 365</h2>
            <p>Check out the case study to understand Technovert helped our client from the Insurance industry to acquire a Customer Service Solution (CSS).</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 case-study" style="background-color: #e44c7d;">
            <h6 style=" font-weight: 500;" >ARTICLE</h6>
            <h2>Data integration approach to maximize your ROI</h2>
            <p>Read our tailored approach that enables you to derive the maximum ROI. Our engineers came up with a data integration approach that makes use of open-source tools over the premium to deliver better results</p>
        </div>
        <div class="col-md-3" >
            <h6>Case Study</h6>
            <h2>End-to-end consulting portal development for nicheBees</h2>
            <p>Technovert helped nicheBees through the ideation & development of a cloud web application that enables SMEs to connect to the right expert on their digital transformation roadmap</p>
        </div>
        
        <div class="col-md-3 case-study" style="background-image: url('assets/images/home_grid_3.webp');">
            <h6 style="font-weight: 500;">Case Study</h6>
            <h2>Enterprise Customer Service Solution using Dynamics 365</h2>
            <p>Check out the case study to understand Technovert helped our client from the Insurance industry to acquire a Customer Service Solution (CSS).</p>
        </div>
    </div>
</div>