:host ::ng-deep .p-menubar {
    border: none;
    background-color: transparent;
    color: #ffffff;
}

:host ::ng-deep .p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-content .p-menuitem-link .p-menuitem-text {
    color: #ffffff;
    font-size: 1.4rem;
}

:host ::ng-deep .p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-content .p-menuitem-link .p-submenu-icon {

    display: none;
}
::ng-deep .p-sidebar-left{
    background-color: #fff;
}
.white-background {
    background-color: white;
}





.card {
    border: none;
    background-color: transparent;
    width: 100%;

    .p-menubar .p-menuitem-link {
        color: #fff;
    }

    .header {
        display: flex;
        justify-content: space-evenly;

        button {

            background: transparent;
            border: none;

            .pi-bars {
                color: transparent;
            }
        }

        .header-set {
            display: flex;
            align-items: stretch;
        }
    }
}

.header.scrolled {
    background-color: #ffff;
    height: 5.5rem;
    width: 100%;

    margin-left: -0.8rem;
}


.header.scrolled ::ng-deep .p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-content .p-menuitem-link .p-menuitem-text {
    color: black;
    font-size: 1.4rem;
}

@media screen and (max-width:768px) {
    .card {
        .header {
            display: flex;
            justify-content: space-between;
            margin: 5%;

            button {
                .pi-bars {
                    color: rgb(255, 255, 255);
                }
            }
        }
    }
    .header.scrolled {
       .header{
        .header-set{
            margin-top: -3rem;
        }
        button {
            .pi-bars {
                color: rgb(84, 108, 218);
            }
       }
        }
    }

    :host ::ng-deep .p-menubar .p-menubar-button {
        color: transparent
    }
    
}

@media screen and (max-width:425px) {
    .card {
        .header {
            display: flex;
            justify-content: space-evenly;
            margin: 0%;

            button {
                .pi-bars {
                    color: rgb(255, 250, 250);
                }
            }
        }
    }

    .header.scrolled {
        background-color: #ffff;
        height: 3.5rem;
        width: 100%;
        margin-left: -0.9rem;
        .header{
            .header-set{
                margin-top: 1rem;
                img {
                    height: 1.8rem;
                }
            }
        }
        button {
            .pi-bars {
                color: rgb(84, 108, 218);
            }
        }
    }
}